@use "../../base";

form-button {
  @include base.base;

  border: base.$border;
  min-height: base.$size_height;
  box-shadow: base.$shadow_out;
  border-radius: base.$size_cornerRadius;
  background-color: base.$color_background;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  min-width: min-content;
  outline: none;

  .touch & {
    min-height: base.$size_touchHeight;
  }

  &.active {
    box-shadow: base.$shadow_out_active;
  }

  &:focus-visible {
    box-shadow: base.$shadow_out_focus_out;

    &.active {
      box-shadow: base.$shadow_out_active_focus_out;
    }
  }

  @media (pointer: fine) {
    &:hover {
      background-color: base.$color_background_hover;
    }
  }

  > input {
    all: unset;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
  }

  > svg {
    fill: base.$color_text;
    max-width: base.$size_height;
    height: calc(base.$size_height - 2px);
    box-sizing: border-box;
    width: auto;
    padding: 0.2rem;
    flex-shrink: 0;

    .touch & {
      height: base.$size_touchHeight;
      max-width: base.$size_touchHeight + 1rem;
      padding: 0.5rem;
    }
  }

  > svg + span {
    padding-left: 0.4rem !important;
  }

  > span {
    color: base.$color_text;
    justify-content: center;
    padding-inline: 0.8rem;

    .touch & {
      font-size: base.$touch_font_size;
    }

    &:empty {
      display: none;
    }
  }

  @include base.form-colors(color, background-color);

  &[color="black"] {
    > span {
      color: base.$color_text_black;
    }

    > svg {
      fill: base.$color_text_black;
    }
  }
}
