@use "../../base";

form-textinput {
  @include base.base;
  display: block;
  border: base.$border;
  box-shadow: base.$shadow_in;
  border-radius: base.$size_cornerRadius;
  background-color: base.$color_background;
  position: relative;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
  overflow-x: auto;

  &:focus-within {
    box-shadow: base.$shadow_in_focus_out;
  }

  @media (pointer: fine) {
    &:hover {
      background-color: base.$color_background_hover;
    }
  }

  > input {
    all: unset;
    @include base.value-font;
    display: block;
    padding: 0.3rem;
    box-sizing: border-box;
    outline: none;
    width: max-content;
    min-width: 100%;
    height: base.$size_height;

    .touch & {
      height: base.$size_touchHeight;
    }
  }
}
